{% extends "layout.html" %}
{% block body %}
			{% include 'navbar.html' %}
			<center>
				<h1>
					Thanks for donating!
				</h1>
				<h3>
					Thanks for your donation towards Beemo.<br> You are helping pay for Beemo's servers and development.<br>

					Please message luke#7172 (Beemo Developer in <a href="https://discord.gg/f3qKB5Z">Beemo's HQ</a>) saying you have donated.
				</h3>
			</center>
{% endblock %}
{% block javascript %}
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
