<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Luke">
		<meta name="description" content="Beemo is a anything bot for discord.">
		<meta property="og:title" content="Beemo">
		<meta property="og:type" content="website">
		<meta property="og:image" content="static/png/logo.png">
		<meta property="og:url" content="https://beemo.club" id="ogurl">
		<meta property="og:decription" content="Beemo is a anything bot for discord.">
		<title>Beemo</title>
		<link rel="shortcut icon" type="image/png" href="/static/ico/favicon.ico">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
			{% include 'navbar.html' %}
			<center>
				<h1>
					Thanks for donating!
				</h1>
				<h3>
					Thanks for your donation towards Beemo.<br> You are helping pay for Beemo's servers and development.<br>

					Please message luke#7172 (Beemo Developer in <a href="https://discord.gg/f3qKB5Z">Beemo's HQ</a>) saying you have donated.
				</h3>
			</center>
	</body>
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js""></script>
</html>